@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body{
font-family: 'Indie Flower', cursive;
background-color  : #ffff99;
}
img{
margin-left: 50px;
margin-top : 100px
height : 500px;
}
.order-form{
font-size : 120%;
}
#id{
font-size : 150%;
}
.form-control{
width: 400px;
}
.errorM{
margin-left : 10px;
color : red;
font-weight  : bold;
}
.login{
background-color : white;
margin-top : 175px;
font-size : 120%;
font-weight : bold;
}
.rego{
margin: 0px;
padding : 0px;
}